<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./image.css" />
  </head>
  <body>
    <section class="component" id="image">
      <h1 class="component__name">Image</h1>
      <p class="component__description">
        Types of images. Responsive and round
      </p>

      <h2>Responsive Image</h2>
      <p>
        Use img-responsive class to make your images fit in the parent element
      </p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-image">
        <div class="image-container">
          <img
            class="img-responsive"
            src="https://picsum.photos/400/400"
            alt="img"
          />
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/62060d34a4f5770015a88525"
          style="width: 100%; height: 99px"
          frameborder="0"
        ></iframe>
      </div>

      <h2>round Image</h2>
      <p>Use img-round class to make your images circular.</p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-image">
        <div class="image-container">
          <img
            class="img-responsive img-round"
            src="https://picsum.photos/400/400"
            alt="img"
          />
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/62060d93a4f5770015a88526"
          style="width: 100%; height: 99px"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </body>
</html>
