<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simplified Grids</title>
    <link rel="stylesheet" href="./simplified-grids.css" />
  </head>
  <body>
    <div class="grid-2">
      <img
        class="img-responsive"
        src="/Assets/Images/img6.svg"
        alt="grid-img"
      />
      <h1>Design Beautiful Websites Quickly</h1>
    </div>

    <div class="grid-3">
      <img
        class="img-responsive"
        src="/Assets/Images/img6.svg"
        alt="grid-img-one"
      />
      <img
        class="img-responsive"
        src="/Assets/Images/img6.svg"
        alt="grid-img-two"
      />
      <img
        class="img-responsive"
        src="/Assets/Images/img6.svg"
        alt="grid-img-three"
      />
    </div>
  </body>
</html>
