.form {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: 1px solid gray;
  padding: 1rem;
  gap: 0.8rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input-group > input {
  padding: 0.5rem;
}

.input-group > label {
  font-size: 0.8rem;
  font-weight: 500;
}

.form-group > input:placeholder-shown {
  font-size: 1rem;
}

.input-feedback {
  font-weight: 500;
}

.error {
  color: red;
}

.success {
  color: green;
}
