<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./button.css" />
  </head>
  <body>
    <section class="component" id="button">
      <h1 class="component__name">Button</h1>
      <p class="component__description">
        Buttons are the most common and most important part of a web app that
        allows you to navigate from one page to another, perform certain actions
        etc.
      </p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-button">
        <a href="#" class="btn btn--primary">Primary-Solid</a>
        <a href="#" class="btn btn--primary btn-icon"
          ><span class="btn__icon"
            ><i class="fa-solid fa-cart-arrow-down"></i
          ></span>
          Add to Cart</a
        >

        <a href="#" class="btn btn-float">+ </a>
        <a href="#" class="btn btn-link">Primary Link</a>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/6206081ea4f5770015a88514"
          style="width: 100%; height: 164px"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </body>
</html>
