:root {
  --ratings-star-color: #f59e0b;
  --color-gray: gray;
}

.ratings {
  padding: 1rem;
  border-radius: 0.5rem;
}

.ratings-star {
  color: var(--ratings-star-color);
}

.off {
  color: var(--color-gray);
}
