/* navbar utility classes */

/* padding */

.padding-08 {
    padding: 0.8rem;
}

.padding-1 {
    padding: 1rem;
}

/* margin */

.margin-0 {
    margin: 0;
}

.margin-1 {
    margin: 1rem;
}

.margin-padding-0 {
    margin: 0;
    padding: 0;
}

/* flex */

.flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-start {
    display: flex;
    align-items: start;
}

.flex-justify-space-around-align-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* width */

.width-100 {
    width: 100%;
}

/* text decoration */

.text-decoration-none {
    text-decoration: none;
}

.list-style-none {
    list-style: none;
}