<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="toast.css" />
  </head>
  <body>
    <section class="component" id="toast">
      <h1 class="component__name">Toast</h1>
      <p class="component__description">
        Toast is a message that appears on bottom of the page.
      </p>

      <h2>Default Toast</h2>
      <p>Toast is a message that appears on bottom of the page.</p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-toast">
        <div class="toast-primary">
          Can't send Message. Retry in 5 seconds.
          <a class="toast-btn">Retry</a>
          <span class="toast-close"><i class="fa-solid fa-xmark"></i></span>
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/620610c8a4f5770015a8852e"
          style="width: 100%; height: 164px"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </body>
</html>
