.ordered-list,
.unordered-list {
  padding: 1rem;
  font-weight: 500;
}

.stacked--list,
.spaced--list {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  width: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
}

.stacked--list > .list-items {
  padding: 1rem;
  font-weight: 500;
}

.stacked--list > .list-items:hover {
  background-color: #d3d3d3;
}

.spaced--list > .list-items:hover {
  background-color: #d3d3d3;
}

.spaced--list > .list-items {
  padding: 1rem;
  font-weight: 500;
}

.spaced--list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
