<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./lists.css" />
  </head>
  <body>
    <section class="component" id="list">
      <h1 class="component__name">Lists</h1>
      <p class="component__description">Types of lists using simple classes.</p>

      <h2>Default Lists</h2>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-lists">
        <ol class="ordered-list">
          <li class="list-items">Item 1</li>
          <li class="list-items">Item 2</li>
          <li class="list-items">Item 3</li>
          <li class="list-items">Item 4</li>
          <li class="list-items">Item 5</li>
        </ol>

        <ul class="unordered-list">
          <li class="list-items">Item one</li>
          <li class="list-items">Item two</li>
          <li class="list-items">Item three</li>
          <li class="list-items">Item four</li>
          <li class="list-items">Item five</li>
        </ul>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/62060f84a4f5770015a8852b"
          style="width: 100%; height: 281px"
          frameborder="0"
        ></iframe>
      </div>

      <h2>Spaced Lists</h2>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-lists">
        <ul class="spaced-list">
          <li class="list-items">Item 1</li>
          <li class="list-items">Item 2</li>
          <li class="list-items">Item 3</li>
          <li class="list-items">Item 4</li>
          <li class="list-items">Item 5</li>
        </ul>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/62060fc2a4f5770015a8852c"
          style="width: 100%; height: 177px"
          frameborder="0"
        ></iframe>
      </div>

      <h2>Stacked Lists</h2>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-lists">
        <ul class="stacked-list">
          <li class="list-items">Item 1</li>
          <li class="list-items">Item 2</li>
          <li class="list-items">Item 3</li>
          <li class="list-items">Item 4</li>
          <li class="list-items">Item 5</li>
        </ul>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/62061002a4f5770015a8852d"
          style="width: 100%; height: 177px"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </body>
</html>
