<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./badge.css" />
  </head>
  <body>
    <section class="component" id="badge">
      <h1 class="component__name">Badge</h1>
      <p class="component__description">
        Badges are small circles with numbers or some activity status positioned
        on the top-right or bottom-right corners.
      </p>

      <h2>Profile Badge</h2>
      <p>These are used to show the activity status generally.</p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-badge">
        <div class="avatar avatar--md">
          <img
            class="avatar__img"
            src="https://i.pravatar.cc/300
                "
            alt="avatar"
          />
          <span class="avatar-badge badge--md"></span>
        </div>

        <div class="avatar avatar--md">
          <img
            class="avatar__img"
            src="https://i.pravatar.cc/300
                "
            alt="avatar"
          />
          <span class="avatar-badge badge--md"></span>
        </div>

        <div class="avatar avatar--md">
          <img
            class="avatar__img"
            src="https://i.pravatar.cc/300
                "
            alt="avatar"
          />
          <span class="avatar-badge badge--md"></span>
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/620605a5a4f5770015a8850f"
          style="width: 100%; height: 307px"
          frameborder="0"
        ></iframe>
      </div>

      <h2>Icon Badge</h2>
      <p>Icon Badges are used to tell the user the number of items present.</p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-badge">
        <div class="icon-badge">
          <span class="badge__icon"
            ><i class="fas fa-shopping-cart"></i
            ><span class="badge__icon-badge">3</span></span
          >
        </div>

        <div class="icon-badge">
          <span class="badge__icon"
            ><i class="fas fa-bell"></i
            ><span class="badge__icon-badge">2</span></span
          >
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/620605fda4f5770015a88510"
          style="width: 100%; height: 177px"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </body>
</html>
