:root {
  --horizontal-card-price-stricked-color: #9a9a9a;
  --horizontal-card-price-discount: #9a9a9a;
  --horizontal-card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --horizontal-card-bg: white;
  --horizontal-card-CTA-border-color: black;
  --checkout-card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --vertical-card-primary-color: purple;
  --vertical-card-secondary-color: #ff527b;
  --vertical-card-discount-color: #ff905a;
  --vertical-card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --filer-bg: rgb(255, 255, 255);
  --card-primary-color: purple;
  --card-secondary-color: #ff527b;
  --card-discount-color: #ff905a;
  --badge-icon-color: #fb3958;
  --ratings-bg: rgb(224, 202, 202);
  --ratings-icon-color: green;
  --primary-color: #7952b3;
  --secondary-color: #6c757d;
  --background-color: whitesmoke;
  --sidebar-hover-bg: rgb(247, 238, 238);
  --example-container-bg: rgb(243, 236, 236);
  --color-gray: gray;
  --color-black: black;
  --color-white: white;
  --color-purple: purple;
  --ratings-star-color: #f59e0b;
  --stacked-list-hover-bg: #d3d3d3;
  --spaced-list-hover-bg: #d3d3d3;
  --text-color: black;
  --border-color: black;
  --error-bg: #fdeded;
  --warning-bg: #fff4e5;
  --info-bg: #e5f6fd;
  --success-bg: #edf7ed;
  --error-icon-color: #f06360;
  --warning-icon-color: #ffa624;
  --info-icon-color: #34baf6;
  --success-icon-color: #80c783;
  --icon-font-size: 1.3rem;
  --pd-one: 1rem;
  --border: 1px solid black;
  --b-radius: 0.5rem;
  --full-width: 100%;
  --font-weight-500: 500;
  --active-badge: #007bff;
  --busy-badge: #dc3545;
  --offline-badge: #343a40;
  --icon-badge-bg: #f73b00;
  --badge-bg-color: #585858;
  --badge-text-color: #ffffff;
  --avatar-badge-bg: rgb(190, 84, 102);
  --color-green: green;
  --btn-primary-color: #ff527b;
  --btn-text-color: white;
  --float-btn-shadow: 2px 2px 3px gray;
  --color-whitesmoke: whitesmoke;
  --error-msg-color: red;
  --success-msg-color: green;
  --body-background-color: #f7f7f7;
  --navbar-background-color: #ffffff;
  --navbar-link-color: #58595b;
  --navbar-brand-color: #585858;
  --navbar-shadow-color: #00000033;
  --icon-badge-bg: #f73b00;
  --badge-bg-color: #585858;
  --badge-text-color: #ffffff;
}