.root {
  --modal-secondary-btn-bg: #0069d9;
  --color-gray: gray;
  --color-white: white;
  --color-black: black;
}

/* ||modal styles */

.modal {
  border: 1px solid var(--color-black);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 25rem;
  background-color: var(--color-white);
}

.modal__CTA {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal__CTA > * {
  text-decoration: none;
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.modal__secondary--btn {
  background-color: var(--modal-secondary-btn-bg);
}

.modal__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.modal__close {
  font-size: 1.4rem;
}

/* ||modal styles end */
