<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./alerts.css" />
  </head>
  <body>
    <section class="component" id="alert">
      <h1 class="component__name">Alert</h1>
      <p class="component__description">
        An alert is a short message that only pops up when some information
        is needed to be pass on to a user on a certain action.
      </p>

      <h2>Default Alerts</h2>
      <p>
        Default alerts are simple alerts with background colors that
        indicates their purpose.
      </p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-alert">
        <div class="alert alert--error">
          <span class="alert__msg msg--error">This is a error message</span>
        </div>

        <div class="alert alert--warning">
          <span class="alert__msg msg--alert"
            >This is a warning message</span
          >
        </div>

        <div class="alert alert--info">
          <span class="alert__msg msg--info">This is a info message</span>
        </div>

        <div class="alert alert--success">
          <span class="alert__msg msg--success"
            >This is a success message</span
          >
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/620604cba4f5770015a8850d"
          style="width: 100%; height: 281px"
          frameborder="0"
        ></iframe>
      </div>

      <h2>Icon Alerts</h2>
      <p>Icons alerts displays icons with the message.</p>

      <h1 class="component__example">Examples</h1>
      <div class="component__example-container example-alert">
        <div class="alert alert--error">
          <i class="alert__icon error--icon fas fa-exclamation-circle"></i>
          <span class="alert__msg msg--error">This is a error message</span>
        </div>

        <div class="alert alert--warning">
          <i
            class="alert__icon warning--icon fas fa-exclamation-triangle"
          ></i>
          <span class="alert__msg msg--alert"
            >This is a warning message</span
          >
        </div>

        <div class="alert alert--info">
          <i class="alert__icon info--icon fas fa-info-circle"></i>
          <span class="alert__msg msg--info">This is a info message</span>
        </div>

        <div class="alert alert--success">
          <i class="alert__icon success--icon far fa-check-circle"></i>
          <span class="alert__msg msg--success"
            >This is a success message</span
          >
        </div>
      </div>
      <div class="component__iframe">
        <iframe
          src="https://www.thiscodeworks.com/embed/6202781b234b8a0015700b9a"
          style="width: 100%; height: 333px"
          frameborder="0"
        ></iframe>
      </div>
    </section>
  </body>
</html>
